<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.first_name %> et bienvenue chez nous !</h1>
    <p>
      Ta commande est validée, nous te remercions pour la confiance accordée et espérons te revoir bientôt.
    </p>
    <p>
      Tu peux retrouver le récapitulatif de ta commande ci-dessous : <br>
      <%= @item.image_url %>
    </p>
    <p> À très vite sur projet-felix-le-chat.herokuapp.com !
  </body>
</html>






