<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Un utilisateur vient de s'inscrire chez nous !</h1>
    <p> Voici sa commande : </p>
    <p> <% @order.items.each do |item| %> </p>
    <ul> 
    <li> Titre : <%= item.title %>, Price : <%= item.price %></li>
    </ul>
    <% end %>
  </body>
</html>