<section class="owl-carousel active-product-area section_gap owl-theme owl-loaded">
		<!-- single product slide -->
		
		<!-- single product slide -->
		
	<div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-4868px, 0px, 0px); transition: all 0.25s ease 0s; width: 7302px;"><div class="owl-item cloned" style="width: 1217px; margin-right: 0px;"><div class="single-product-slider">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 text-center">
						<div class="section-title">
							<h1>Derniers produits</h1>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
								dolore
								magna aliqua.</p>
						</div>
					</div>
				</div>

				<div class='card-columns'>
	<% @items.each do |item| %>
		<div class="card bg-secondary" style="width: 22rem;">
		  <div class="card-body">
		    <h5 class="card-title"><a class="text-warning"><%= link_to item.title.upcase , item_path(item.id)%></a></h5>
		  </div>
		</div>
	 <% end %>
</div>

				<div class="row">
					<% @items.each do |item| %>
					<div class="col-lg-3 col-md-6">
						<div class="single-product">
							<img class="img-fluid" src="img/product/p1.jpg" alt="">
							<div class="product-details">
								<h6>addidas New Hammer sole
									for Sports person</h6>
								<div class="price">
									<h6>$150.00</h6>
									<h6 class="l-through">$210.00</h6>
								</div>
								<div class="prd-bottom">

									<a href="" class="social-info">
										<span class="ti-bag"></span>
										<p class="hover-text">add to bag</p>
									</a>
									<a href="" class="social-info">
										<span class="lnr lnr-heart"></span>
										<p class="hover-text">Wishlist</p>
									</a>
									<a href="" class="social-info">
										<span class="lnr lnr-sync"></span>
										<p class="hover-text">compare</p>
									</a>
									<a href="" class="social-info">
										<span class="lnr lnr-move"></span>
										<p class="hover-text">view more</p>
									</a>
								</div>
							</div>
						</div>
					</div>
	 <% end %>


					<!-- single product -->
					<div class="col-lg-3 col-md-6">
						<div class="single-product">
							<img class="img-fluid" src="img/product/p8.jpg" alt="">
							<div class="product-details">
								<h6>addidas New Hammer sole
									for Sports person</h6>
								<div class="price">
									<h6>$150.00</h6>
									<h6 class="l-through">$210.00</h6>
								</div>
								<div class="prd-bottom">

									<a href="" class="social-info">
										<span class="ti-bag"></span>
										<p class="hover-text">add to bag</p>
									</a>
									<a href="" class="social-info">
										<span class="lnr lnr-heart"></span>
										<p class="hover-text">Wishlist</p>
									</a>
									<a href="" class="social-info">
										<span class="lnr lnr-sync"></span>
										<p class="hover-text">compare</p>
									</a>
									<a href="" class="social-info">
										<span class="lnr lnr-move"></span>
										<p class="hover-text">view more</p>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style=""><img src="img/product/prev.png"></div><div class="owl-next" style=""><img src="img/product/next.png"></div></div><div class="owl-dots" style="display: none;"></div></div></section>



		<h2>Voici la liste des produits :</h2>

