<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="contact">
  <div class="container h-100">
    <div class="blog-banner">
      <div class="text-center">
        <h1>Nos contacts</h1>
      </div>
    </div>
  </div>
</section>
<!-- ================ end banner area ================= -->

<!-- ================ contact section start ================= -->
<section class="section-margin--small">
  <div class="container">
    <div class="row">
      <div class="media contact-info col-md-3">
        <span class="contact-info__icon"><i class="ti-email"></i></span>
        <div class="media-body">
          <h3>Drieli Luz</h3>
          <p>@Dri</p>
        </div>
      </div>
      <div class="media contact-info col-md-3">
        <span class="contact-info__icon"><i class="ti-email"></i></span>
        <div class="media-body">
          <h3>Lucas Piquet</h3>
          <p>@Lucas Piquet</p>
        </div>
      </div>
      <div class="media contact-info col-md-3">
        <span class="contact-info__icon"><i class="ti-email"></i></span>
        <div class="media-body">
          <h3>Antoine Jacques</h3>
          <p>@Tonio</p>
        </div>
      </div>
      <div class="media contact-info col-md-3">
        <span class="contact-info__icon"><i class="ti-email"></i></span>
        <div class="media-body">
          <h3>Thibault Telliez</h3>
          <p>@Thibault Tlz</p>
        </div>
      </div>
      <div class="media contact-info col-md-3">
        <span class="contact-info__icon"><i class="ti-email"></i></span>
        <div class="media-body">
          <h3>Vincent Gillibert</h3>
          <p>@VincentG</p>
        </div>
      </div>
    </div>

    <div class="d-none d-sm-block mb-5 pb-4">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2626.366795820513!2d2.370818351563765!3d48.83214187918323!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e673c1a7b05e93%3A0x43df410cb9fd7b90!2sLa+Felicit%C3%A0!5e0!3m2!1sfr!2sfr!4v1559211067631!5m2!1sfr!2sfr" width="1100" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</section>
<!-- ================ contact section end ================= -->
