/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

*= require bootstrap/bootstrap.min
*= require fontawesome/css/all.min
*= require themify-icons/themify-icons
*= require nice-select/nice-select
*= require owl-carousel/owl.theme.default.min
*= require owl-carousel/owl.carousel.min

*= require style
*= require main

 */

.product_image_area{
    margin-bottom: 100px;
}

.button-center {
	display: inline-block;
}

/*flash*/
.alert{
    margin-left: 450px;
    margin-right: 450px;
    text-align: center;
    margin-bottom: 0px !important;
}

.logo_h img {
  height: 100px;
  width: auto;
}

button.stripe-button-el {
  font-family:'Oswald', sans-serif;
  height: 40px;
  width: auto;
  padding:0px 38px;
  margin-right:10px;
  border-radius:2px;
  background-image: none !important;
  background-color: #28A745;
  border: 0;
  -webkit-appearance: none;
  border-radius: 30px;
  margin-left: 50px;
}

button.stripe-button-el span {
  font-family:'Oswald', sans-serif;
  height: inherit;
  width: inherit;
  background: none;
  line-height: 38px;
  -webkit-appearance: none;
}

.hero-banner {
  background-image: url('/assets/cat-band.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #fff;
}

.container .row .card {
  border: none;
}
