<footer class="footer">
  <div class="footer-area">
    <div class="container">
      <div class="row section_gap">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-footer-widget tp_widgets">
            <h4 class="footer_title large_title">Notre mission</h4>
            <p>
            Le Chat domestique (Felis silvestris catus) est la sous-espèce issue de la domestication du Chat sauvage, mammifère carnivore de la famille des Félidés.
            </p>
            <p>
              Achetez des photos de chats, vous serez heureux.
            </p>
          </div>
        </div>
        <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
          <div class="single-footer-widget tp_widgets">
            <h4 class="footer_title">Liens du site</h4>
            <ul class="list">
              <li><%= link_to 'Accueil', root_path %></li>
              <li><%= link_to 'Shop', root_path %></li>
              <li><%= link_to 'Contact', contact_index_path %></li>
            </ul>
          </div>
        </div>
        <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
          <div class="single-footer-widget tp_widgets">
            <h4 class="footer_title">Nous contacter</h4>
            <div class="ml-40">
              <p class="sm-head">
                <span class="fa fa-location-arrow"></span>
                Head Office
              </p>
              <p>Felicità</p>

              <p class="sm-head">
                <span class="fa fa-phone"></span>
                Phone Number
              </p>
              <p>
              On Slack
              </p>

              <p class="sm-head">
                <span class="fa fa-envelope"></span>
                Email
              </p>
              <p>
                somewheretogo@project.com <br>
                www.somewheretogo.com
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
